<h1>New Session</h1>

<%= form_tag(login_path) do %>
<fieldset>
  <section>
    <%= label_tag(:email) %>
    <%= email_field_tag(:email) %>
  </section>
  <section>
    <%= label_tag(:password) %>
    <%= password_field_tag(:password) %>
  </section>
  <section>
    <%= submit_tag(:login) %>
  </section>
</fieldset>
<% end %>