 <h1>Chef <%= @chef.name.humanize %> </h1>
 <h2>Show <%= @chef.show %></h2> 
 <h2>Specialty <%= @chef.specialty %></h2> 
 <h2><%= image_tag @chef.avatar %></h2>

 <%=link_to('Edit', edit_chef_path(@chef.id)) %>
 <%=link_to('Home', chefs_path) %>



