<h1 id="heading">Welcome, Check out our Recipes</h1>
<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Cook Time</th>
    <th>Instructions</th>
    <th>Ingredients</th>
    <th>Image</th>
  </thead>  
  <tbody>
    <%@recipe.each do |recipe|%>
    <tr>
      <td><%= recipe.title %></td>
      <hr class='vertical'>
      <td class="about"><%= recipe.description %></td>
      <td class="about"><%= recipe.cook_time%></td>
      <td class="about"><%= recipe.instructions%></td>
      <td class="about"><%= recipe.ingredients%></td>
      <td><%= image_tag recipe.picture %></td>
      <td><%= link_to('view', recipe_path(recipe.id) ) %></td>
      <td><%= link_to('edit', edit_recipe_path(recipe.id))%></td>
      <td><%= link_to('delete',recipe_path(recipe.id), method: :delete, confirm: 'Are you sure')%></td>
    </tr>
    <%end%>
  </tbody>
</table>
 <h4>Want to add a recipe ?  <%=link_to('Click here', new_recipe_path)%></h4>
