<!DOCTYPE html>
<html>
<head>
  <title>BrazillianCookery</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>Add a chef <%=link_to('See all the Chefs', chefs_path)%></h2>
<h2>Add a chef <%=link_to('See all the Recipes', recipes_path)%></h2><br/>
<%= yield %>

</body>
</html>
