<!DOCTYPE html>
<html>
    <head>
      <title>BrazillianCookery</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
    <header><img src="/assets/header.png"></header>
    <% flash.each do |name, msg|%>
    <%= content_tag :div, msg, class: name%>
    <%end%>
    <%if logged_in? %>
      Welcome <%= @current_user.name %>
      <%= link_to("logout", logout_path, class:'btn btn-info') %>
      <%= link_to("Sign Up",new_user_path , class:'btn btn-success') %>
    <% else %>
      <%= link_to("login", , class:'btn btn-danger') %>
    <% end %>
    <%= yield %>
    <footer>
      <div id="footer">
      <img src="/assets/footer.png"></footer>
    </div>
  </body>
</html>